body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Kanit', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h2{
    margin-top: 60px;
    font-family: 'Kanit', sans-serif;
}

.font-size-content{
   font-size : 16px;
}
.margin-lefe-zero{
    margin-left: 0px;
}

.margin-bottom-ten{
    margin-bottom: 10px;
}

.margin-top-six{
    margin-top: 6px;
}

.margin-top-fifteen {
    margin-top: 15px;
}

.margin-top-fifty {
    margin-top: 50px;
}

.margin-right-zero {
    margin-right: 0px;
}

.padding-left-zero{
    padding-left: 0px;
}

.padding-right-ten {
    padding-right: 10px;
}

.padding-right-zero {
    padding-right: 0px;
}